/* BODY */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
  }


/* NAVBAR */

.navbar {
    padding: 10px;
    background-color: rgba(23, 161, 80, 0.767);
}

.navbar a:hover {
    border-bottom: 1px solid rgb(51, 50, 50);

}


/* Registration form */

h3 {
    margin-top: 70px;
}

.card {
    margin-top: 40px;
}


/*
button {
    color: rgba(23, 161, 80, 0.767);
}
*/