/* BODY */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
  }


/* NAVBAR */

.navbar {
    padding: 20px;
    background-color: rgba(23, 161, 80, 0.767);
}

.navbar-collapse a:hover {
    border-bottom: 1px solid rgb(51, 50, 50);

}


/* MAIN CONTENT */

main {
    height: 100vmin;
}

/* FOOTER */

ul {
    list-style: none;
}

footer {
    height: 90px;
    padding-top: 17px;
    background-color: rgba(23, 161, 80, 0.767);;
    text-align: center;
}

footer li {
    display: inline;
    padding: 15px;
}

footer i {
    color: #070707;
    font-size: 140%;
    margin-top: 15px;
}

footer i:hover {
    color: rgba(17, 17, 26, 0.5);
}


/* REGISTRATION AND LOGIN FORMS */

h3 {
    margin-top: 100px;
}

.card {
    margin-top: 40px;
}

/*

button {
    color: rgba(23, 161, 80, 0.767);
}

*/

.flashes {
    margin-top: 40px;
}

.form-bottom-links {
    margin-top: 30px;
}


/* PROFILE PAGE */

.user-heading {
    margin-bottom: 45px;
}

.accordion-button {
    background-color: rgba(23, 161, 80, 0.767);
}
