{% extends 'base.html' %}
{% block content %}

    <h2 class="text-center review-heading">Add Review</h2>


    <div class="row card col-md-6 offset-md-3">
        <div class="card-body">
            <form action="" method="POST">
                <div class="row">
                    <div class="form-floating">
                        <label for="title"></label>
                        <select class="form-select" id="title" name="title" aria-label="Floating label select example" required>
                            <option selected>Choose your book</option>
                            {% for book in books %}
                                <option value="{{ book.title }}">{{ book.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 book-review">
                        <label for="review_description" class="form-label">Book Review</label>
                        <textarea class="form-control" id="review_description" name="review_description" rows="10" 
                            minlength="5" maxlength="200" required></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}