{% extends 'base.html' %}
{% block content %}

    <h2 class="text-center review-heading">Add Review</h2>


    <div class="row card col-md-6 offset-md-3">
        <div class="card-body">
            <form action="{{ url_for('add_review') }}" method="POST">
                <div class="row">
                    <div class="form-floating">
                        <!-- DROPDOWN SELECTOR -->
                        <label for="book_id"></label>
                        <select class="form-select" id="book_id" name="book_id" 
                            aria-label="Floating label select example" required>
                            <option selected>Choose your book</option>
                            {% for book in books %}
                                <option value="{{ book._id }}">{{ book.title }}</option>
                            {% endfor %}
                         </select>
                   </div>
                </div>
                <div class="row">
                    <div class="mb-3 book-review">
                         <!-- TITLE INPUT FIELD -->
                        <label for="review_name" class="form-label">Add a Title</label>
                        <textarea class="form-control" id="review_name" name="review_name" 
                            rows="1" minlength="5" maxlength="50" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 book-review">
                        <!-- TEXT INPUT FIELD -->
                        <label for="review_description" class="form-label">Add a Description</label>
                        <textarea class="form-control" id="review_description" name="review_description" 
                            rows="10" minlength="5" maxlength="200" required></textarea>
                    </div>
                </div>
                <!-- BUTTONS -->
                <button type="submit" class="btn btn-success">Add review</button>
                <a href="{{ url_for('get_reviews') }}"><button type="reset" class="btn btn-danger review-button">Cancel</button></a>
            </form>
        </div>
    </div>

{% endblock %}