{% extends 'base.html' %}
{% block content %}

    <!-- 
    <img src="../static/images/homepage_image_big.jpg" alt="image of library" class="homepage-image">
    <h1 class="text-center">Welcome to</h1>
    <h1 class="text-center"><b>Classic Novels Review</b></h1>
    <h4 class="text-center"><i>Sign up to keep track of your favorite books!</i></h4>
    -->


    {% for book in books %}
        {{ book.title}}<br>
        {{ book.author}}<br>
        {{ book.description}}<br>
    {% endfor %}

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #1
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="text-center form-bottom-links">
                Sign up here!
                <a href="{{ url_for('signup') }}">Create new account</a>
            </p>
        </div>
    </div>
    
    
        
{% endblock %}