{% extends 'base.html' %}
{% block content %}

    <h3 class="text-center">Log in</h3>

    <div class="row">
        <div class="card col-md-6 col-lg-4 offset-md-3 offset-lg-4">
            <div class="card-body">
                <form method="POST" action="{{ url_for('login') }}">
                    <!-- USERNAME INPUT FIELD -->
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username" minlength="5" maxlength="15" aria-describedby="emailHelp" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>
                    <!-- PASSWORD INPUT FIELD -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>
                    <!-- LOGIN BUTTON -->
                    <button type="submit" class="btn btn-success">Log in!</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="text-center form-bottom-links">
                Sign up here!
                <a href="{{ url_for('signup') }}">Create new account</a>
            </p>
        </div>
    </div>
    
{% endblock %}