{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="card col-md-6 col-lg-4 offset-md-3 offset-lg-4">
            <div>
                <div> 
                    <h3 class="text-center user-heading">{{ username }}'s reviews</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- BOOTSTRAP ACCORDION -->
    <div class="accordion col-md-8 offset-md-2 top-accordion" id="accordion">
        {% for review in reviews %}
        <div class="accordion-item">
            {% if session.user|lower == review.added_by|lower %}
                <a href="{{ url_for('edit_review', review_id=review._id) }}"><button type="submit" class="btn btn-primary review-button">Edit</button></a>
                <a href="{{ url_for('delete_review', review_id=review._id) }}"><button type="submit" class="btn btn-danger review-button">Delete</button></a> 
            {% endif %}
                <div class="accordion-collapse collapse" data-bs-parent="accordion">
                <div class="accordion-body">
                    <strong>{{ review.review_name }}</strong>
                    <br>
                    <p>{{ review.book_name }} by</p>
                    <br>
                    <br>
                    <p>{{ review.review_description }}</p>
                    <br>
                    <p><em>Posted by: {{ review.added_by }}</em></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}