{% extends 'base.html' %}
{% block content %}

    <h1 class="text-center">Welcome to</h1>
    <h1 class="text-center"><b>Classic Novels Review</b></h1>
    <h4 class="text-center"><i>Sign up to review your favorite books</i></h4>
    <h4 class="text-center free-heading"><i>It's free!</i></h4>
    <img src="../static/images/homepage_image_big.jpg" alt="image of library" class="homepage-image">
    

    <div class="accordion col-md-8 offset-md-2 top-accordion" id="accordionExample">
        {% for review in reviews %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{ review.review_name }}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>{{ review.book_name }}</strong>
                    <br>
                    <br>
                    <p>{{ review.review_description }}</p>
                    <br>
                    <p><em>Posted by: {{review.added_by }}</em></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12">
            <p class="text-center form-bottom-links">
                Sign up here!
                <a href="{{ url_for('signup') }}">Create new account</a>
            </p>
        </div>
    </div>
        
{% endblock %}