{% extends 'base.html' %}
{% block content %}

    <h1 class="text-center">Welcome to</h1>
    <h1 class="text-center"><b>Classic Novels Review</b></h1>
    <h4 class="text-center"><i>Sign up to review your favorite books</i></h4>
    <h4 class="text-center free-heading"><i>It's free!</i></h4>
    <img src="../static/images/homepage_image.jpg" alt="image of library" class="homepage-image">
    
    <h3 class="text-center">All Reviews</h3>

    <!-- BOOTSTRAP ACCORDION -->
    <div class="accordion col-md-8 offset-md-2 top-accordion" id="accordion">
        {% for review in reviews %}
        <div class="accordion-item">
            {% if session.user|lower == review.added_by|lower %}
                <a href="{{ url_for('edit_review', review_id=review._id) }}"><button type="submit" class="btn btn-primary review-button">Edit</button></a>
                <a href="{{ url_for('delete_review', review_id=review._id) }}"><button type="submit" class="btn btn-danger review-button">Delete</button></a> 
            {% endif %}
                <div class="accordion-collapse collapse" data-bs-parent="accordion">
                <div class="accordion-body">
                    <strong>{{ review.review_name }}</strong>
                    <br>
                    <p>{{ review.book_name }} by</p>
                    <br>
                    <br>
                    <p>{{ review.review_description }}</p>
                    <br>
                    <p><em>Posted by: {{ review.added_by }}</em></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12">
            <p class="text-center form-bottom-links">
                Sign up here
                <a href="{{ url_for('signup') }}">Create new account</a>
            </p>
        </div>
    </div>

    {% endblock %}